extends layout

block content
  h1= title
  p Enter your id & pw
  form( method='POST', action='/check')
    input( type='text', name='id') br
    input( type='password', name='pw')
    input( type='submit', name='enter')
