extends layout

block content
  .wrapper
      form.board-form(action="/" method="post")
        | タイトル: 
        input.input(type="text" name="title" required="")
        br
        br
        button.submit(type="submit") ボード作成